<div class="card shadow-sm">
  <div class="card-header bg-transparent border-0">
    Munícipes
  </div>
  <div class="card-body">
    <% if @municipes.empty? %>
      <div class="d-grid">
        <%= link_to "Nenhum munícipe cadastrado, Clique para cadastrar o primeiro", new_municipe_path, title: 'Novo Munícipe', class: 'btn btn-outline-primary btn-sm rounded-pill' %>
      </div>
    <% else %>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Nome</th>
              <th scope="col">Documentos</th>
              <th scope="col">Email</th>
              <th scope="col">Status</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>

          <tbody>
            <% @municipes.each do |municipe| %>
              <tr>
                <td>
                  <% if municipe.avatar.representable? %>
                    <picture>
                      <%= image_tag municipe.avatar.variant(:thumb_40), class: 'img-fluid img-thumbnail' %>
                    </picture>
                  <% else %>
                    <picture>
                      <%= image_tag 'avatar.png', width: '40' %>
                    </picture>
                  <% end %>
                </td>
                <td><%= municipe.name %></td>
                <td>
                  <p class="m-0"><span class="badge bg-secondary">CPF:</span> <%= municipe.cpf %></p>
                  <p class="m-0"><span class="badge bg-secondary">CNS:</span> <%= municipe.cns %></p>
                </td>
                <td><%= municipe.email %></td>
                <td>
                  <span class="badge <%= municipe.active? ? 'text-bg-success' : 'text-bg-danger' %>">
                    <%= municipe.status.upcase %>
                  </span>
                </td>
                <td>
                  <%= link_to "Editar", edit_municipe_path(municipe), title: 'Editar', class: 'btn btn-outline-primary btn-sm rounded-pill' %>

                  <% if municipe.active? %>
                    <%= link_to "Inativar", municipe_swap_path(municipe), title: 'Inativar', class: 'btn btn-outline-primary btn-sm rounded-pill', :method => :get %>
                  <% else %>
                    <%= link_to "Ativar", municipe_swap_path(municipe), title: 'Ativar', class: 'btn btn-outline-primary btn-sm rounded-pill', :method => :get %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>
